boto3==1.34.162
botocore==1.34.162
moviepy==1.0.3
librosa==0.10.2.post1
soundfile==0.12.1
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
openai>=1.40.0
supabase==2.6.0
psycopg2-binary==2.9.9